<!-- Header -->
<header>
  <div class="top-header">
    <picture class="logo">
      <a href="/"><img src="" alt="Logo de GameSpot" /></a>
    </picture>
    <nav class="nav">
      <ul>
        <!-- Menú NAV y botones -->
        <li><a href="#">Productos</a></li>
        <li><a href="#" class="sign-up">Crea tu cuenta</a></li>
        <li><a href="#" class="login">Ingresar</a></li>
        <li><a href="#">Carrito</a></li>
      </ul>
    </nav>
  </div>
</header>
